## Atividade 02

# Exercícios

Vamos praticar a criação de várias expectativas para um dataset público. 
Para isso, vamos utilizar o dataset Titanic disponível no Kaggle. 
Este dataset contém informações sobre os passageiros do navio Titanic, incluindo informações como nome, idade, sexo, classe da cabine e se sobreviveram ou não ao naufrágio.

### 1. Importando os dados

1.1 Crie um objeto DataContext

In [67]:
import pandas as pd
import great_expectations as gx

context =  gx.get_context()
context

{
  "anonymous_usage_statistics": {
    "usage_statistics_url": "https://stats.greatexpectations.io/great_expectations/v1/usage_statistics",
    "enabled": true,
    "explicit_id": true,
    "explicit_url": false,
    "data_context_id": "f1f6189d-6c68-4606-a0cf-8b7bad76d7dc"
  },
  "checkpoint_store_name": "checkpoint_store",
  "config_variables_file_path": "uncommitted/config_variables.yml",
  "config_version": 3.0,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted\\data_docs\\local_site"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "datasources": {},
  "evaluation_parameter_store_name": "evaluation_parameter_store",
  "expectations_store_name": "expectations_store",
  "include_rendered_content": {
    "expectation_suite": false,
    "globally": false,
    "expectation_validation_result": false
  },
  "plugins_directory": "plugins/",
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "expectations/"
      }
    },
    "validations_store": {
      "class_name": "ValidationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/validations/"
      }
    },
    "evaluation_parameter_store": {
      "class_name": "EvaluationParameterStore"
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "checkpoints/"
      }
    },
    "profiler_store": {
      "class_name": "ProfilerStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "profilers/"
      }
    }
  },
  "validations_store_name": "validations_store"
}

In [ ]:
context.convert_to_file_context()

1.2 Crie um validator e carregue o dataset Titanic: https://storage.googleapis.com/tf-datasets/titanic/train.csv

In [48]:
df = gx.read_csv('../dados/atividade2/train.csv')
df_pandas = pd.read_csv('../dados/atividade2/train.csv')
validator = context.sources.pandas_default.read_csv('../dados/atividade2/train.csv')

In [49]:
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [50]:
df_pandas['class'].value_counts()

Third     341
First     159
Second    127
Name: class, dtype: int64

### 2. Definindo expectativas

Agora que temos o dataframe, podemos começar a criar expectativas sobre os dados.

2.1 Crie uma expectativa que defina que as colunas do dataframe estão na ordem correta.

In [51]:
columns_file=df.columns.values.tolist()
columns_file

['survived',
 'sex',
 'age',
 'n_siblings_spouses',
 'parch',
 'fare',
 'class',
 'deck',
 'embark_town',
 'alone']

In [52]:
validator.expect_table_columns_to_match_ordered_list(column_list=columns_file)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "observed_value": [
      "survived",
      "sex",
      "age",
      "n_siblings_spouses",
      "parch",
      "fare",
      "class",
      "deck",
      "embark_town",
      "alone"
    ]
  },
  "meta": {}
}

2.2 Agora crie uma expectativa para verificar se os valores da coluna "Survived" só podem ser 0 ou 1.

In [53]:
validator.expect_column_values_to_be_in_set(column='Survived',value_set=[0,1])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {}
}

2.3 Defina que a coluna "Pclass" só pode ter valores de 1 a 3.

In [54]:
validator.expect_column_values_to_be_in_set(column='class',value_set=['First','Second','Third'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {}
}

2.4 Crie expectativas para verificar se as colunas "Survived" e "Pclass" existem no dataframe.

In [55]:
validator.expect_column_to_exist(column='Survived')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "result": {},
  "meta": {}
}

In [56]:
validator.expect_column_to_exist(column='Pclass')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "result": {},
  "meta": {}
}

2.5 Verifique se os valores das colunas "Age" e "Fare" não são nulos e se estão dentro de um intervalo razoável (0 a 100 para "Age" w 0 a 100 para "Fare".

In [57]:
validator.expect_column_values_to_not_be_null(column='Age')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {}
}

2.6 Define que a coluna "Sex" só pode ter os valores "male" ou "female".

In [58]:
validator.expect_column_values_to_not_be_null(column='Fare')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {}
}

In [59]:
validator.expect_column_unique_value_count_to_be_between(column = 'Age', min_value = 0, max_value = 100)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "observed_value": 76
  },
  "meta": {}
}

In [60]:
validator.expect_column_unique_value_count_to_be_between(column = 'Fare', min_value = 0, max_value = 100)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "result": {
    "observed_value": 216
  },
  "meta": {}
}

### 3. Executando as Expectativas

3.1 Defina um Checkpoint e execute-o para receber os resultados do validator.

In [61]:
checkpoint = gx.checkpoint.SimpleCheckpoint(name = "checkpoint_atividade_2", data_context= context, validator = validator)

In [62]:
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/29 [00:00<?, ?it/s]

In [66]:
context.build_data_docs()
context.open_data_docs()